nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50px;
    background-color: black;
    gap: 55px;
    margin-bottom: 0px;
}
nav a {
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}
nav a:hover {
    color:cadetblue;

}